In [1]:
import pandas as pd
df_p = pd.read_csv("Pandas_data_for_course/Products.csv", sep=';')
df_c = pd.read_csv("Pandas_data_for_course/Customers.csv", sep=';')
df_o = pd.read_csv("Pandas_data_for_course/Orders.csv", sep=';')
df_od = pd.read_csv("Pandas_data_for_course/Order_details.csv", sep=';')
df_e = pd.read_excel("Pandas_data_for_course/Employees.xlsx")

# What is the name of the employee who processed the most orders of all time?

In [2]:
new_df = df_e.merge(df_o)

In [3]:
new_df.groupby(['EmployeeID', 'FirstName', 'LastName'],as_index=False).OrderID.count().sort_values(by='OrderID', ascending=False)

   EmployeeID FirstName   LastName  OrderID
3           4  Margaret    Peacock      156
2           3     Janet  Leverling      127
0           1     Nancy    Davolio      123
7           8     Laura   Callahan      104
1           2    Andrew     Fuller       96
6           7    Robert       King       72
5           6   Michael     Suyama       67
8           9      Anne  Dodsworth       43
4           5    Steven   Buchanan       42

First, I group the data and count the number of orders for each employee.

Then, I sort by the number of orders in descending order.

Finally, I retrieve the first row after sorting (using the iloc method).

In [4]:
new_df.groupby(['EmployeeID', 'FirstName', 'LastName'], 
               as_index=False).OrderID.count().sort_values(by='OrderID', ascending=False).iloc[0]

EmployeeID           4
FirstName     Margaret
LastName       Peacock
OrderID            156
Name: 3, dtype: object

# What is the name of the client who brought in the highest net revenue of all time?

In [7]:
# merge three tables 
df_c_o_od = df_c.merge(df_o).merge(df_od)
df_c_o_od['OrderDate'] = df_c_o_od['OrderDate'].astype('datetime64[ns]')

In [8]:
df_c_o_od.head(1)

,CustomerID,ContactName,ContactTitle,Phone,Address,OrderID,EmployeeID,OrderDate,RequiredDate,ShippedDate,Freight,ProductID,UnitPrice,Quantity,Discount
0,ALFKI,Maria Anders,Sales Representative,030-0074321,Obere Str. 57,10643,6,1997-08-25,1997-09-22 00:00:00.000,1997-09-02 00:00:00.000,29.46,28,45.6,15,0.25

In [52]:
df_c_o_od['Discount_fact']= df_c_o_od['UnitPrice']*df_c_o_od['Quantity']*df_c_o_od['Discount']

In [55]:
df_c_o_od['list_orders'] = df_c_o_od.UnitPrice * df_c_o_od.Quantity - df_c_o_od['Discount_fact']

In [64]:
df_c_o_od.groupby(['ContactName']).list_orders.sum().sort_values(ascending = False).head(1)

ContactName
Horst Kloss    110277.305
Name: list_orders, dtype: float64

I merge three tables,

then I create a column for the discount,

then I calculate the order cost considering the discount and save it in a column,

and finally, I group by the client's name, calculate the total order amount for each client, sort the results, and find what I need.

# Which product category brought in the highest net revenue?

In [9]:
# прописал left_on и right_on потому что там есть одинаковые столбцы и значения там могут быть разные 
# UnitPrice_x это от первой таблицы(df_od) и UnitPrice_y(df_p) это от второй
# UnitPrice в df_od - это стоимость продукта в момент оформления заказа, а 
# UnitPrice в df_p - это стоимость продукта на «сегодняшний день». 
# Стоимости продуктов в df_od и в df_p могут различаться.
df_od_p = df_od.merge(df_p, left_on = 'ProductID', right_on = 'ProductID')
df_od_p['Discount_fact_od'] = df_od_p['UnitPrice_x'] * df_od_p['Quantity'] * df_od_p["Discount"]
df_od_p['Revenue'] = df_od_p['UnitPrice_x'] * df_od_p['Quantity'] - df_od_p['Discount_fact_od']
df_od_p

,OrderID,ProductID,UnitPrice_x,Quantity,Discount,ProductName,Product_Description,UnitPrice_y,CategoryID,CategoryName,Category_Description,Discount_fact_od,Revenue
0,10248,11,14.00,12,0.00,Queso Cabrales,1 kg pkg.,21.00,4,Dairy Products,Cheeses,0.000,168.000
1,10248,42,9.80,10,0.00,Singaporean Hokkien Fried Mee,32 - 1 kg pkgs.,14.00,5,Grains/Cereals,Breads. crackers. pasta. and cereal,0.000,98.000
2,10248,72,34.80,5,0.00,Mozzarella di Giovanni,24 - 200 g pkgs.,34.80,4,Dairy Products,Cheeses,0.000,174.000
3,10249,14,18.60,9,0.00,Tofu,40 - 100 g pkgs.,23.25,7,Produce,Dried fruit and bean curd,0.000,167.400
4,10249,51,42.40,40,0.00,Manjimup Dried Apples,50 - 300 g pkgs.,53.00,7,Produce,Dried fruit and bean curd,0.000,1696.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2150,11077,64,33.25,2,0.03,Wimmers gute Semmelknodel,20 bags x 4 pieces,33.25,5,Grains/Cereals,Breads. crackers. pasta. and cereal,1.995,64.505
2151,11077,66,17.00,1,0.00,Louisiana Hot Spiced Okra,24 - 8 oz jars,17.00,2,Condiments,Sweet and savory sauces. relishes. spreads. an...,0.000,17.000
2152,11077,73,15.00,2,0.01,Rod Kaviar,24 - 150 g jars,15.00,8,Seafood,Seaweed and fish,0.300,29.700
2153,11077,75,7.75,4,0.00,Rhonbrau Klosterbier,24 - 0.5 l bottles,7.75,1,Beverages,Soft drinks. coffees. teas. beers. and ales,0.000,31.000
2154,11077,77,13.00,2,0.00,Original Frankfurter gr?ne Sobe,12 boxes,13.00,2,Condiments,Sweet and savory sauces. relishes. spreads. an...,0.000,26.000

In [10]:
df_od_p.groupby(['CategoryName']).Revenue.sum().sort_values(ascending = False).head(1)

CategoryName
Beverages    267868.18
Name: Revenue, dtype: float64

I merge three tables, taking into account that UnitPrice may vary, as in one table it represents the current price, and in the other, the price at the time of the order. 

I create columns for the actual discount and for the total revenue. 

Then I group by category name, calculate the total sum for each category separately, sort the results, and select the category that brought in the highest revenue.